# Compiled Output
/build
/out

# Gradle
.gradle
/gradle/wrapper/gradle-wrapper.jar
/.gradle
/gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
*.iml
.idea
*.ipr
*.iws

# Kotlin
.kotlin

# Android Studio
*.apk
*.dex
local.properties
.externalNativeBuild

# Java
*.class
*.jar

# Logs
*.log

# Keystore
*.keystore

# OS
.DS_Store

# Swap files
*.swp
*.backup

.gradle/
.idea/
build/
